<h1>About</h1>

<h3>Who am I?</h3>
<p>
  You can call me Giselle Morong. I'm a recent graduate of Bachelor of Science
  in Information Technology. I earned my degree from STI Cainta. I enjoy
  computer progamming and kitties. I enjoy sharing every event from my everyday
  life on this website, therefore my partner created this website for me.
</p>
